{% extends "projects.html" %}
{% block title %}Edit Project{% endblock %}
{% block content %}
<h1>Edit Project</h1>
<button onclick="history.back()" class = "previous round">Back</button>
<form method="POST" action="/edit_project/{{ project_details.id }}" enctype="multipart/form-data">
    <label for="project_name">Name</label>
    <input type="text" name="project_name" placeholder="Enter name" value="{{ project_details.name }}" required>
    <hr>
    <label for="project_description">Description</label>
    <input type="text" name="project_description" placeholder="Enter description" value="{{ project_details.description }}" required>
    <hr>
    <label for="project_sale_price">Sale Price</label>
    <input type="number" name="project_sale_price" placeholder="Enter sale price" min="0" step="0.01" value="{{ project_details.sale_price }}">
    <hr>
    <label for="project_image">Image</label>
    <br>
    <img src="{{ project_details.image }}" alt="[Project Image Display]" style="max-width: 200px; max-height: 200px;">
    <br>
    <input type="file" name="project_image" accept="image/*">
    <input type="hidden" name="project_image_path" value="{{ project_details.image }}">
    <hr>
    <label for="project_notes">Notes</label>
    <textarea name="project_notes" placeholder="Enter notes">{{ project_details.notes }}</textarea>
    <hr>
    <button type="submit">Submit</button>
</form>
{% endblock %}
