{% extends "projects.html" %}
{% block title %}Edit Project{% endblock %}
{% block content %}
<div class="container mt-5" style="background-color: #C2D6CE">
  <h1 class="text-center mb-4" style="font-family: serif">Edit Project</h1>
  <button onclick="history.back()" style = "background-color: #12263A" class="btn btn-secondary mb-4">Back</button>
  <form method="POST" action="/edit_project/{{ project_details.id }}" enctype="multipart/form-data" class="shadow p-4 bg-light rounded">
    <div class="mb-3">
      <label for="project_name" class="form-label">Name</label>
      <input type="text" id="project_name" name="project_name" class="form-control" placeholder="Enter name" value="{{ project_details.name }}" required>
    </div>
    <div class="mb-3">
      <label for="project_description" class="form-label">Description</label>
      <input type="text" id="project_description" name="project_description" class="form-control" placeholder="Enter description" value="{{ project_details.description }}" required>
    </div>
    <div class="mb-3">
      <label for="project_sale_price" class="form-label">Sale Price</label>
      <input type="number" id="project_sale_price" name="project_sale_price" class="form-control" placeholder="Enter sale price" min="0" step="0.01" value="{{ project_details.sale_price }}">
    </div>
    <div class="mb-3">
      <label for="project_image" class="form-label">Image</label>
      <div class="mb-2">
        <img src="{{ project_details.image }}" alt="[Project Image Display]" class="img-fluid" style="max-width: 200px; max-height: 200px;">
      </div>
      <input type="file" id="project_image" name="project_image" class="form-control" accept="image/*">
      <input type="hidden" name="project_image_path" value="{{ project_details.image }}">
    </div>
    <div class="mb-3">
      <label for="project_additional_images" class="form-label">Additional Images</label>
      <input type="file" id="project_additional_images" name="project_additional_images" class="form-control" accept="image/*" multiple>
      <div class="mb-2 mt-2">
        {% for image in project_details.images %}
          <img src="{{ image }}" alt="[Additional Image Display]" class="img-fluid" style="max-width: 200px; max-height: 200px;">
        {% endfor %}
      </div>
    </div>
    <div class="mb-3">
      <label for="project_notes" class="form-label">Notes</label>
      <textarea id="project_notes" name="project_notes" class="form-control" placeholder="Enter notes" rows="4">{{ project_details.notes }}</textarea>
    </div>
    <button type="submit" style= "background-color: #F4D1AE" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
