<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Projects{% endblock %} | Personalized Catalog</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
   <link href="navbar.css" rel="stylesheet">
</head>
<body>
    <h1>Personalized Catalog</h1>


  <nav class="navbar navbar-expand-lg" style="background-color: #12263A;" aria-label="Responsive Navbar Example">
  <div class="container-fluid">
    <button class="navbar-toggler" style="background-color: #98D2EB;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="/" text-decoration = none>
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
              </svg>Projects
              </a>
          </li>
          <li class="nav-item" text-decoration = none>
            <a href="/items">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
              </svg>Items
              </a>
          </li>
          <li class="nav-item" text-decoration = none>
            <a href="/logout">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>Logout
             </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Create New</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown05">
              <li><a class="dropdown-item" href="/create_project">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Create Project</a></li>
              <li><a class="dropdown-item" href="/create_item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Create Item</a></li>
            </ul>
          </li>
          <li class="nav-item color:#F4EDEA" >
           <p>Welcome, {{ user.username }}</p>
          </li>
          {% else %}
        {% endif %}
        </ul>
      </div>
    </div>
    </nav>
    {% block content %}
    {% if user.is_authenticated %}
    <form role="search" action="/search" method="GET">
    <input name="query" class="form-control" type="search" placeholder="Search" aria-label="Search" style="width: 300px; margin: 20px;">
    <input name="type" type="hidden" value="project">
    </form>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for project in projects %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ project.image }}" class="img-fluid card-img-top" height= 100% alt="No Image Available" />
            <div class="card-body">
              <h3 class="card-text">{{ project.name }}</h3>
              <hr>
              <p class="card-text">{{ project.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button  onclick="window.location.href='/view_project/{{ project.id }}'" type="button" class="btn btn-sm btn-outline-secondary">View Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
     </div>
 </div>
  </div>
    {% else %}
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold" style="font-family: American Typewriter, serif">Welcome to the Personalized Catalog!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Please log in or register to access your projects and items.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" onclick="window.location.href='/login'" style = "background-color: #F4D1AE" class="btn btn-primary btn-lg px-4 gap-3">Log in</button>
        <button type="button" onclick="window.location.href='/register'" style = "background-color: #EAE2B7" class="btn btn-secondary btn-lg px-4">Sign Up</button>
      </div>
    </div>
  </div>
    {% endif %}
    {% endblock %}
</body>
</html>

