{% extends "index.html" %}
{% block title %} {{ item_details.name }} {% endblock %}
{% block content %}
<button onclick="history.back()" class = "previous round">Back</button>
<div>
    <img src="{{ item_details.image }}" alt="{{ item_details.image }}" />
    <h1>{{ item_details.name }}</h1>
    <h2>Description: {{ item_details.description }}</h2>
    <h3>Brand: {{ item_details.brand }}</h3>
    <h3>Purchase Link: <a href="{{ item_details.purchase_link }}">{{ item_details.purchase_link }}</a></h3>
    <h3>Cost: ${{ item_details.cost }}</h3>
    <h3>Rating: {{ item_details.rating }}</h3>
    <h3>Notes: {{ item_details.notes }}</h3>
</div>
{% endblock %}
