{% extends "index.html" %}
{% block title %} {{ item_details.name }} {% endblock %}
{% block content %}
<button onclick="history.back()" class = "previous round">Back</button>
<div>
    <img src="{{ item_details.image }}" alt="{{ item_details.image }}" />
    <h1>{{ item_details.name }}</h1>
    <h2>Description: {{ item_details.description }}</h2>
    <h3>Brand: {{ item_details.brand }}</h3>
    <h3>Purchase Link: <a href="{{ item_details.purchase_link }}">{{ item_details.purchase_link }}</a></h3>
    <h3>Cost: ${{ item_details.cost }}</h3>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% for i in range(1, 6) %}
        <span class="fa fa-star {% if i <= item_details.rating %}checked{% endif %}"></span>
    {% endfor %}
    <h3>Rating: {{ item_details.rating }}</h3>
    <h3>Notes: {{ item_details.notes }}</h3>
    <button type="button" class="collapsible">Notes</button>
    <div class="content">
  <p>Lorem ipsum...</p>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
} </script>
  <a href="#" class="previous round">&#8249;</a>
  <a href="#" class="next round">&#8250;</a>
</div>
</div>
{% endblock %}
